@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

*{
  font-family: 'ABeeZee', sans-serif;
  margin:0;
  padding:0;
}

header{
  font-size: 13px;
}

#navigation{
  background:#16222A;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.selectFicha{
  margin-top: 15vh;
  margin-bottom: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

select{
  font-size: 20px;
  border: 0;
  box-shadow: 0 5px 15px rgb(43, 43, 43);
  padding: 5px;
  background: #16222A;
  color: white;
}

select:hover{ 
  background-color: white; 
  color: #16222A;
}

#date{
  font-size: 15px;
  border: 0;
  box-shadow: 0 5px 15px rgb(43, 43, 43);
  padding: 3px;
  background: #16222A;
  color: white;
}

#date:hover{ 
  background-color: white; 
  color: #16222A;
}

#button { 
  width: 100px;
  background-color: #4ca8af;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
}

.button-div{
  text-align: center;
}

.selectFicha input{
  margin-left: 50px;
}

