@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

*{
  font-family: 'ABeeZee', sans-serif;
  margin:0;
  padding:0;
}

header{
  font-size: 13px;
}

#navigation{
  background:#16222A;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.selectFicha{
  height: 40vh;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.selectFicha input{
  margin-left: 50px;
  margin-right: 5px;
}

