
            {% load static %}
            <html>
                <head><title>Asistencia</title>
                    <link rel="stylesheet" type="text/css" href="{% static 'asistencia/css/tables.css'%}"/>
                </head>
                <body>
                    <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Nombre Aprendiz</th>
      <th>Asistencia</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>DavidAndresNorenaGiraldo</td>
      <td>No vino</td>
    </tr>
    <tr>
      <th>1</th>
      <td>LucasArboledaBedoya</td>
      <td>No vino</td>
    </tr>
    <tr>
      <th>2</th>
      <td>SebastianSalasCuartas</td>
      <td>No vino</td>
    </tr>
    <tr>
      <th>3</th>
      <td>JuanPabloRojasArismendy</td>
      <td>No vino</td>
    </tr>
    <tr>
      <th>4</th>
      <td>SimonLopezPelaez</td>
      <td>No vino</td>
    </tr>
    <tr>
      <th>5</th>
      <td>MiguelAngelCastillaBallestas</td>
      <td>No vino</td>
    </tr>
    <tr>
      <th>6</th>
      <td>JuanDavidRiveraCasallas</td>
      <td>No vino</td>
    </tr>
    <tr>
      <th>7</th>
      <td>EmmanuelMunozZapata</td>
      <td>No vino</td>
    </tr>
    <tr>
      <th>8</th>
      <td>JuanDavidRuizAlzate</td>
      <td>No vino</td>
    </tr>
    <tr>
      <th>9</th>
      <td>OrlandoRobertoVilladiegoOtero</td>
      <td>No vino</td>
    </tr>
  </tbody>
</table>
                <footer>
                <div class="container-fluid">
	<div class="row">
		<div id="ms-container">
			<label for="ms-download">
				<div class="ms-content">
					<div class="ms-content-inside">
						<input type="checkbox" id="ms-download" />
                        <a href="{% static 'asistencia/excel/asistenciaFicha.xlsx'%}" download="asistencia.xlsx">Descargar Asistencia</a>
						<div class="ms-line-down-container">
							<div class="ms-line-down"></div>
						</div>
						<div class="ms-line-point"></div>
					</div>
				</div>
			</label>
		</div>
	</div>
</div>
                </footer>
                </body>
                
                </html>
            