@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

*{
  font-family: 'ABeeZee', sans-serif;
  margin:0;
  padding:0;
}

header{
  font-size: 13px;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}

#img{
  margin-top: 15vh;
}

img{
  width: 100px;
}

p {
  text-align: center;
  color: #ffff;
  font-size: 70px;
}




#navigation{
  background:#16222A;
  display: flex;
  justify-content: center;
  padding: 5px;
}

#navigation-menu{
  display: flex;
  justify-content: center;
  padding: 5px;
}
